@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  width: 60%;
  list-style: none;
  margin: auto;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  width: calc(100% * (1/6) - 10px - 1px);
  line-height: 60px;
  line-break: strict = 360px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}